body {
  margin: 0;
  padding: 0;
}
.main {
  font-family: "Open Sans", sans-serif;
}
.heading {
  background-image: url(./MIT-Building10-madcoverboy_0.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading h1 {
  color: #fff;
  font-size: 4rem;
  text-shadow: 1px 2px 2px #000;
}

.heading2 h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  color: #0a465b;
  margin-bottom: 30px;
  padding-top: 10px;
}
.heading2 {
  text-align: center;
  padding: 1rem;
}
.heading2 p {
  font-weight: bold;
  color: #7f969e;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.heading2 p span {
  color: #ffa500;
}

.card-section {
  background-color: #edeff3;
  text-align: center;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: bolder;
}
.card-section p {
  margin-bottom: 3rem;
  padding: 0 5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #7f969e;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: 0px solid #dedede;
  margin: 0.5rem 1rem;
  box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 20%);
}
.card h3 {
  padding: 2.5rem 1rem;
  margin: 0;
  color: white;
  background-color: #107698;
}
.card p {
  margin: 0;
  text-align: left;
  padding: 2rem;
  background-color: white;
  color: #7f969e;
  font-size: 0.85rem;
}
.services-card {
  display: flex;
}
.section-flexibility {
  background: #fff;
  padding: 0.25rem 0.25rem;
  margin-top: 1.5rem;
}
.services-card2 {
  display: flex;
}
.card3 h3,
.card2 h3,
.card1 h3 {
  border-bottom: 2px solid #ffa500;
  border-width: 10%;
  margin: 0 2rem;
}

.card-section2 {
  background-color: #edeff3;
  text-align: center;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: bolder;
}
.card-section2 p {
  margin-bottom: 3rem;
  padding: 0 5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #7f969e;
}

.card-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.acard {
  border: 0px solid #dedede;
  margin: 0.5rem 1rem;
  box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 20%);
}
.acard h3 {
  padding: 2.5rem 1rem;
  margin: 0;
  color: white;
  background-color: #107698;
}
.acard p {
  margin: 0;
  text-align: left;
  padding: 2rem;
  background-color: white;
  color: #7f969e;
  font-size: 0.85rem;
}
section.Greybackgroundcontainer div.Greybackgroundflexcontainer article p span{
  color: Orange;
}
section.Greybackgroundcontainerlast h2{
  font-size: 34px;
      font-weight: 300;
      color: #0a465b;
      text-align: center;
      margin-bottom: 32px;
  }
div.imgtrustedby img{
  display: block;
    margin: 24px auto 0;
}



.footerdarkgrey {
  padding: 40px 0;
    background-color: #504f4f;
    text-align: center;
    color: #c7c5c5;
    font-size: 18px;
    line-height: 1.4;
    display: block;
}